version: '3.8'
services:
  go:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    image: go-ws-chat-app-server:latest
    ports:
      - "8080:8080"
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    depends_on:
      - go
    volumes:
      - ./apps/client:/usr/share/nginx/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
